<cc:page type="normal" style="standard" showSidebar="false" showHeader="false" />
<cc!>
/*
description:拆拥页面(审批通过的开票申请)
传入参数: 开票申请id ,读取开票申请中的结算单list,每单拆成对应项目经理和业务员的佣金
version: 1.0
date:20190823
author:tom
log:
20191011 细节完善
20191018 调用标准接口失败,自己写接口insert拆佣记录
20191105 拆佣按钮可用的变化
*/

/**
* 将ISO-8859-1编码格式的字符串转码为UTF-8
* 
* @param parameterValue
* @return
* @throws UnsupportedEncodingException
*/
private static String encodeParameters(String parameterValue)
  throws UnsupportedEncodingException {
if (parameterValue != null && parameterValue.length() > 0) {
  byte[] iso = parameterValue.getBytes("ISO-8859-1");
  if (parameterValue.equals(new String(iso, "ISO-8859-1"))) {
    parameterValue = new String(iso, "UTF-8");
    return parameterValue;
  }
}
return parameterValue;
}
</cc>
<cc>
CCService cs = new CCService(userInfo);
String uid = userInfo.getUserId();//当前登录用户id 
String managerId = userInfo.getManagerId();
List<CCObject> ccuserl = cs.cqlQuery("ccuser","SELECT loginname as name FROM ccuser WHERE id = '"+uid+"'"); //登录人的账号
String userName =ccuserl.get(0).get("name")==null?"":ccuserl.get(0).get("name")+""; 

String roleid = userInfo.getRoleId(); //根据角色不同操作不同,项目经理可以对经理及业务员拆拥,总监对策划及自己拆拥,管理员可以看到两个

// String ksrq = request.getParameter("ksrq")==null?"1":encodeParameters(request.getParameter("ksrq")+"");//获取开始时间
// String jsrq = request.getParameter("jsrq")==null?"1":encodeParameters(request.getParameter("jsrq")+"");//获取结束时间
String kpsqid = request.getParameter("kpsqid")==null?"":encodeParameters(request.getParameter("kpsqid")+"");//获取项目条件
//String khdj = request.getParameter("khdj")==null?"全部":encodeParameters(request.getParameter("khdj")+"");//获取客户等级
//int val = request.getParameter("val")==null?0:Integer.valueOf(encodeParameters(request.getParameter("val")+""));//获取总上门数

//获取所有用户作为拆佣用户对象的选项
List<CCObject> ccuserlist0 = cs.cqlQuery("kpsq","SELECT id,name FROM ccuser WHERE is_deleted='0' ");
JSONArray ccuserjsonarr = new JSONArray(); 
for(CCObject item:ccuserlist0){
      JSONObject ccuserjson= new JSONObject();
      String userid = item.get("id")==null?"":item.get("id")+ "";  //id
      String usernm = item.get("name")==null?"":item.get("name")+ "";  //name
      ccuserjson.put("id",userid); 
      ccuserjson.put("name",usernm); 
      ccuserjsonarr.add(ccuserjson);
}

String ccuserjs=ccuserjsonarr.toString();



//获取项目名称
List<CCObject> kpsqlist = cs.cqlQuery("kpsq","SELECT jsmx,cyzt FROM kpsq WHERE id = '"+kpsqid+"' and is_deleted='0' and spzt='审批通过' ");
String jsmx ="";
Integer dljsmxnum=0;
String testx ="";

String jsmxjs="";
String cyzt_org = kpsqlist.get(0).get("cyzt")==null?"":kpsqlist.get(0).get("cyzt")+ ""; 

if(kpsqlist.size()>0){
  //String jsmx = kpsqlist.get(0).get("jsmx")==null?"":kpsqlist.get(0).get("jsmx")+ ""; 
  jsmx = kpsqlist.get(0).get("jsmx")==null?"":kpsqlist.get(0).get("jsmx")+ ""; 
  String[] jsmx_l=jsmx.split("\\;"); 
  dljsmxnum = jsmx_l.length;

  JSONArray jsmxjsonarr = new JSONArray(); 

  for(String j : jsmx_l){
    JSONObject jsmxjson= new JSONObject();
    //JSONObject Oppojson= new JSONObject();
    //读取结算单信息: 客户,成交单位,面积,单价,总价,结算比例,结算金额,签约时间    业务机会下:相关的成交人,项目经理,分成人,及分成人的经理
    List<CCObject> dljsmxblist = cs.cqlQuery("dljsmxb","SELECT ywjh,khmc,fh,TRUNCATE(mj,3) as mj,ROUND(cjsj,2) as cjsj,ROUND(yzj,2) as yzj,ROUND(cjzj,2) as cjzj,dlfjsbl,ROUND(dlfjsje,2) as dlfjsje,recordtype,date_format(qysj, '%Y-%m-%d') as qysj FROM dljsmxb WHERE id = '"+j+"' and is_deleted='0' ");
    //客户
    String khmc = dljsmxblist.get(0).get("khmc")==null?"":dljsmxblist.get(0).get("khmc")+ ""; 
    List<CCObject> accountlist = cs.cqlQuery("Account","SELECT name FROM Account WHERE id = '"+khmc+"' and is_deleted='0' ");
    khmc =  accountlist.get(0).get("name")==null?"":accountlist.get(0).get("name")+ ""; //获取中字客户名

    String fh = dljsmxblist.get(0).get("fh")==null?"":dljsmxblist.get(0).get("fh")+ "";  //房号
    Double mj = dljsmxblist.get(0).get("mj")==null?0.0:Double.parseDouble(dljsmxblist.get(0).get("mj")+""); //面积
    Double dj = dljsmxblist.get(0).get("cjsj")==null?0.0:Double.parseDouble(dljsmxblist.get(0).get("cjsj")+""); //单价cjsj

    //成交总价, 有租赁和销售的区别
    String recordtype = dljsmxblist.get(0).get("recordtype")==null?"":dljsmxblist.get(0).get("recordtype")+ ""; 
    Double cjzj=0.0;
    if("201877BBCEB2536vZE9X".equals(recordtype)){ //租赁
      cjzj = dljsmxblist.get(0).get("yzj")==null?0.0:Double.parseDouble(dljsmxblist.get(0).get("yzj")+"");
    }else{
      cjzj = dljsmxblist.get(0).get("cjzj")==null?0.0:Double.parseDouble(dljsmxblist.get(0).get("cjzj")+"");
    }

    Double dlfjsbl = dljsmxblist.get(0).get("dlfjsbl")==null?0.0:Double.parseDouble(dljsmxblist.get(0).get("dlfjsbl")+""); //结算比例
    Double dlfjsje = dljsmxblist.get(0).get("dlfjsje")==null?0.0:Double.parseDouble(dljsmxblist.get(0).get("dlfjsje")+""); //结算金额

    String qysj = dljsmxblist.get(0).get("qysj")==null?"":dljsmxblist.get(0).get("qysj")+ ""; //签约时间

    String ywjh = dljsmxblist.get(0).get("ywjh")==null?"":dljsmxblist.get(0).get("ywjh")+ ""; //对应业务机会id 

    //组json
    jsmxjson.put("khmc",khmc); //客户名称
    jsmxjson.put("fh",fh); //房号
    jsmxjson.put("mj",mj); //面积
    jsmxjson.put("dj",dj); //单价
    jsmxjson.put("cjzj",cjzj); //总价
    jsmxjson.put("dlfjsbl",dlfjsbl); //比例
    jsmxjson.put("dlfjsje",dlfjsje); //结算金额
    jsmxjson.put("qysj",qysj); //签约时间
  jsmxjson.put("ywjh",ywjh); //业务机会id
  
  //放入一个标识位,确认对应的记录分配比例OK
  jsmxjson.put("fpwc",true); 
    
    //查询成交时候填写的业绩分成

    //JSONObject yhjson = new JSONObject(); //业务员

    //JSONArray ywytojsonarr = new JSONArray(); 
    
    //List<CCObject> Opportunitylist = cs.cqlQuery("Opportunity","SELECT ownerid FROM Opportunity WHERE id = '"+ywjh+"' and is_deleted='0' ");
    List<CCObject> yjfclist = cs.cqlQuery("yjfc","SELECT fcyh1,fcyh2,fcyh3,fcyh4,fcyh5,fcbl1,fcbl2,fcbl3,fcbl4,fcbl5,szxm,szxm2,szxm3,szxm4,szxm5 FROM yjfc WHERE ywjkmc = '"+ywjh+"' and is_deleted='0' ");
    if(yjfclist.size()>0){ //当有填写业绩分成的时候
      JSONObject yhjson = new JSONObject(); //业务员 or 经理
      JSONArray ywytojsonarr = new JSONArray(); 
      JSONArray managerarr = new JSONArray();
      for(int i=1;i<=5;i++){
        testx = "fcyh"+i;
        String fcyh = yjfclist.get(0).get(testx)==null?"":yjfclist.get(0).get(testx)+ ""; //用户
        if("".equals(fcyh)){
          break;
        }
        //根据业务员id去获取姓名
        List<CCObject> ccuserlist = cs.cqlQuery("ccuser","SELECT name,manager FROM ccuser WHERE id = '"+fcyh+"' and is_deleted='0' ");
        String ywynm = ccuserlist.get(0).get("name")==null?"":ccuserlist.get(0).get("name")+ "";
        
        testx = "fcbl"+i;
        Double yjbl = yjfclist.get(0).get(testx)==null?0.0:Double.parseDouble(yjfclist.get(0).get(testx)+""); //分成比例

        yhjson.put("yhid",fcyh); 
        yhjson.put("yhnm",ywynm); 
        yhjson.put("yhbl",yjbl);
        ywytojsonarr.add(yhjson);
        
        //业务员对应的项目经理
        String manager = ccuserlist.get(0).get("manager")==null?"":ccuserlist.get(0).get("manager")+ "";
        List<CCObject> ccuserlist1 = cs.cqlQuery("ccuser","SELECT name FROM ccuser WHERE id = '"+manager+"' and is_deleted='0' ");
        String managernm = ccuserlist1.get(0).get("name")==null?"":ccuserlist1.get(0).get("name")+ "";
        
        yhjson.put("yhid",manager); 
        yhjson.put("yhnm",managernm); 
        yhjson.put("yhbl",yjbl);
        managerarr.add(yhjson);
      }
      String ywys=ywytojsonarr.toString();
      String jls=managerarr.toString();
      jsmxjson.put("ywyarr",ywys);
      jsmxjson.put("jlarr",jls);

    } else{
      JSONObject yhjson = new JSONObject(); //业务员 or 经理
      JSONArray ywytojsonarr = new JSONArray(); 
      JSONArray managerarr = new JSONArray();
      //如果业务机会id没有查询到对应的业绩分成记录,说明不做分成, 直接获取业务机会的所有人(销售代表,创建人),项目经理, 比例取100
      List<CCObject> Opportunitylist = cs.cqlQuery("Opportunity","SELECT ownerid,xmjl FROM Opportunity WHERE id = '"+ywjh+"' and is_deleted='0' "); 
      //业务员
      String ywy = Opportunitylist.get(0).get("ownerid")==null?"":Opportunitylist.get(0).get("ownerid")+ "";
      List<CCObject> ccuserlist = cs.cqlQuery("ccuser","SELECT name FROM ccuser WHERE id = '"+ywy+"' and is_deleted='0' ");
      String ywynm = ccuserlist.get(0).get("name")==null?"":ccuserlist.get(0).get("name")+ "";

      yhjson.put("yhid",ywy); 
      yhjson.put("yhnm",ywynm); 
      yhjson.put("yhbl",100);
      ywytojsonarr.add(yhjson);

      //Oppojson.put("opnm",opnm);
      
      //项目经理
      String xmjl = Opportunitylist.get(0).get("xmjl")==null?"":Opportunitylist.get(0).get("xmjl")+ "";
      List<CCObject> ccuserlist1 = cs.cqlQuery("ccuser","SELECT name FROM ccuser WHERE id = '"+xmjl+"' and is_deleted='0' ");
      String xmjlnm = ccuserlist1.get(0).get("name")==null?"":ccuserlist1.get(0).get("name")+ "";

      yhjson.put("yhid",xmjl); 
      yhjson.put("yhnm",xmjlnm); 
      yhjson.put("yhbl",100);
      managerarr.add(yhjson);

      String ywys=ywytojsonarr.toString();
      String jls=managerarr.toString();
      jsmxjson.put("ywyarr",ywys);
      jsmxjson.put("jlarr",jls);
    }

    jsmxjsonarr.add(jsmxjson);
  }

  jsmxjs=jsmxjsonarr.toString();

}

//JSONArray Oppojsonarr = new JSONArray();
//JSONObject Oppojson= new JSONObject();

//Oppojson.put("ownerid",ownerid); 
//Oppojsonarr.add(Oppojson); 


//String sftb=Oppojsonarr.toString();


</cc>
<html>
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>

<head>
  <script src="//unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
      <link rel="stylesheet" href="https://unpkg.com/muse-ui@3.0.2/dist/muse-ui.css">
      <link rel="stylesheet" href="https://cdn.bootcss.com/material-design-icons/3.0.1/iconfont/material-icons.css">
      <script src="//unpkg.com/muse-ui@3.0.2/dist/muse-ui.js"></script>


  <STYLE TYPE="text/css"> 
    .normal-c {
      color: blue;
    }
    .error-c {
      color:red;
    }
  </STYLE> 
      
      <title>拆佣</title>
</head>
<body>
<button onclick="history.go(-1);return false;">返回</button>

<div id="app">
<mu-container>
    <!-- <button onclick="history.go(-1);return false;">返回</button> @click="yhadd(item1.ywjh,'ywy')"-->
    <mu-button color="success" onclick="history.go(-1);return false;">返回</mu-button>
    <mu-button color="success" @click="tjsp()" :disabled="judge1?false:true">提交审批</mu-button>
    <!-- <button onclick="history.go(-1);return false;">提交审批</button> -->
<!-- <mu-card v-for="item1 in collapselist" v-bind:key="item1.ywjh" :raised="true" style="width: 100%; max-width: 400px; margin: 0 auto;"> -->
  <mu-alert color="error" v-if="alert1" >
    {{error_msg}}
  </mu-alert>
<mu-card v-for="item1 in collapselist" v-bind:key="item1.ywjh" :raised="true" style="width: 100%; margin: 0 auto;">
  <mu-card-header style="padding-bottom: 4px;">
    <div>
      <mu-icon size="18" value="local_atm"></mu-icon>
      <a :href="'/query.action?m=query&id='+item1.ywjh">{{item1.khmc}}</a>
    </div>
  </mu-card-header>

  <!-- <mu-card-title title="Content Title" sub-title="Content Title"></mu-card-title> -->
  <mu-card-text>
    <!--  客户,成交单位,面积,单价,总价,结算比例,结算金额,签约时间  -->
    <div>成交单位:{{item1.fh}}</div>
    <div>面积:{{item1.mj}}</div>
    <div>单价:{{item1.dj}}</div>
    <div>总价:{{item1.cjzj}}</div>
    <div>结算比例:{{item1.dlfjsbl}}</div>
    <div>结算金额:{{item1.dlfjsje}}</div>
    <div>签约时间:{{item1.qysj}}</div>
    <mu-divider></mu-divider>
    <mu-container>
        <div><span :class="item1.fpwc?'normal-c':'error-c'">经理拆佣:</span><mu-button small icon color="primary" @click="yhadd(item1.ywjh,'jl')">
            <mu-icon :size="18" value="add"></mu-icon>
          </mu-button>
        </div>
        <div v-for="item2 in item1.jlarr" >
            <!-- <div>姓名:{{item2.yhnm}} 比例:{{item2.yhbl}} <mu-button small icon color="primary" @click="yhdelete(item1.ywjh,item2.yhid)">
            <mu-icon color="red" :size="16" value="delete"></mu-icon>
          </mu-button></div> -->
          <div>
            <mu-row gutter>
              <mu-col span="5" lg="5" sm="5">
                <mu-select label="姓名" filterable v-model="item2.yhnm" full-width @change="yhupdt($event,item2)" :error-text="item2.yhid==''?'请选择':''">
                  <mu-option v-for="user,index in userlist" :key="user.id" :label="user.name" :value="user"></mu-option>
                </mu-select>
              </mu-col>
              <mu-col span="5" lg="5" sm="5">
                <mu-text-field v-model="item2.yhbl" label="比例" :error-text="item2.yhbl==0?'比例不能为0':''" full-width></mu-text-field>
              </mu-col>
              <mu-col span="2" lg="2" sm="2">
                <mu-button small icon color="primary" @click="yhdelete(item1.ywjh,item2.yhid,'jl')"><mu-icon color="red" :size="16" value="delete"></mu-icon></mu-button>
              </mu-col>
            </mu-row>
            
          </div>
        </div>
        <mu-divider></mu-divider>
        <div><span :class="item1.fpwc?'normal-c':'error-c'">业务员拆佣:</span><mu-button small icon color="primary" @click="yhadd(item1.ywjh,'ywy')">
            <mu-icon :size="18" value="add"></mu-icon>
          </mu-button>
        </div>
        <div v-for="item3 in item1.ywyarr" >
            <div>
              <mu-row gutter>
                <mu-col span="5" lg="5" sm="5">
                  <mu-select label="姓名" filterable v-model="item3.yhnm" full-width @change="yhupdt($event,item3)" :error-text="item3.yhid==''?'请选择':''">
                    <!-- <mu-option v-for="user,index in userlist" :key="user.id" :label="user.name" :value="user.name" ></mu-option> -->
                    <mu-option v-for="user,index in userlist" :key="user.id" :label="user.name" :value="user"  ></mu-option>
                  </mu-select>
                </mu-col>
                <mu-col span="5" lg="5" sm="5">
                  <mu-text-field v-model="item3.yhbl" label="比例" :error-text="item3.yhbl==0?'比例不能为0':''" full-width></mu-text-field>
                </mu-col>
                <mu-col span="2" lg="2" sm="2">
                  <mu-button small icon color="primary" @click="yhdelete(item1.ywjh,item3.yhid,'ywy')"><mu-icon color="red" :size="16" value="delete"></mu-icon></mu-button>
                </mu-col>
              </mu-row>
              
            </div>
        </div>
    </mu-container>
  </mu-card-text>
  <!-- <mu-card-actions>
    <mu-button flat>Action 1</mu-button>
    <mu-button flat>Action 2</mu-button>
  </mu-card-actions> -->
</mu-card>
</mu-container>
<div>{{collapselist}}</div>
</div> 
<!-- <cc:outprint>jsmx</cc:outprint>
<cc:outprint>dljsmxnum</cc:outprint>
<cc:outprint>ccuserjs</cc:outprint>
<cc:outprint>jsmxjs</cc:outprint> -->


<script>

var Main = {
        name: 'frozen-title-columns',
        data(){
            return {
              collapselist:<cc:outprint>jsmxjs</cc:outprint>,
              
      userlist: <cc:outprint>ccuserjs</cc:outprint>,
      
      filterable: {
        value1: '',
        value2: [],
        value3: []
    },
    judge1: true,
    error_msg: 'Hello World!',
    alert1: false,
    userName:'<cc:outprint>userName</cc:outprint>',
    bindingcode: '',
    kpsqid:'<cc:outprint>kpsqid</cc:outprint>',
    managerId: '<cc:outprint>managerId</cc:outprint>',
    cyzt_org:'<cc:outprint>cyzt_org</cc:outprint>',
                    //tableData: ,
                  //{"projectid":"a05201895750531u4bBv","projectname":"星港同创汇","oppoid":"002201904B74842IjFQM","opnm":"星港同创汇_江苏新云汉光电科技有限公司_20190727",
                    //"khmc":"0012019FC6A9139M93Wp","khnm":"江苏新云汉光电科技有限公司","cjdw":"219-220","cjmj":174.12,"cjdj":65,"cjzj":11317.8,"cjsj":"2019-08-08","ownerid":"虞美红"}
                  
            }
        },
        created: function() {
          this.clear_repeat();

          this.getBinding(); //获取bindingcode为后续insert拆佣记录

          this.judge_btn(); //根据拆佣的状态判断提交审批btn的状态
        },
        methods: {
          getBinding: function() {
        var that = this;
        axios.get('/distributor.action', {
          params: {
            serviceName: 'cssoLogin',
            userName: this.userName,
            authCode: '6b42a467259407218c0e6acdfc978c01'
          
          }
        })
          .then(function (response) {
            that.bindingcode = response.data.binding;
            //console.log(this.bindingcode);
          })
          .catch(function (error) {
            console.log(error);
          });
      },
          yhadd: function(val1,val2){
            var that = this;
          
            that.collapselist.forEach(function(item,index){
        if(item.ywjh==val1){
          item.fpwc = true;
          //alert("index:"+index);
                  //alert(item.ywyarr);
                  if(val2=='ywy'){
              item.ywyarr.push({"yhid":"","yhnm":"","yhbl":0});  
                  }
                  if(val2=='jl'){
                      item.jlarr.push({"yhid":"","yhnm":"","yhbl":0});  
                  }
              }
      });
          },
          yhdelete: function(val1,val2,type) {
            //alert(val1+','+val2);
            var that = this;
            that.collapselist.forEach(function(item,index){
              if(item.ywjh==val1){
              item.fpwc = true;
                //alert("index:"+index);
                //alert(item.ywyarr);
                if(type=='ywy'){
                  item.ywyarr.forEach(function(item1,index1){
                    if(item1.yhid==val2){
                      //alert(item1.yhnm);
                      //var ywyarr= that.collapselist.ywyarr;
                      item.ywyarr.splice(index1, 1);
                      //that.collapselist.ywyarr=item.ywyarr;
                      //alert(item.ywyarr);
                      //ywyarr.splice(index1, 1);
                      return;
                    }
                  });
                }
                if(type=='jl'){
                  item.jlarr.forEach(function(item1,index1){
                    if(item1.yhid==val2){
                      //alert(item1.yhnm);
                      //var ywyarr= that.collapselist.ywyarr;
                      item.jlarr.splice(index1, 1);
                      //that.collapselist.jlarr=item.jlarr;
                      //alert(item.ywyarr);
                      //ywyarr.splice(index1, 1);
                      return;
                    }
                  });
                }
                return;
              }
              });
            },
            yhupdt: function(e,item){
              //val1.yhid = item.target.id;
            // console.log(this);
              //console.log(e);
              //alert(event.target.value);
              item.yhid=e.id;
              item.yhnm=e.name;
              //alert(item.yhid);
              //item.yhid=this.selected.id;
              //alert(this.selected.id);
            },
        
        clear_repeat: function(){
          //alert("hello");
          var that = this;
          that.collapselist.forEach(function(item,index){
            var lastid="";
            item.jlarr.forEach(function(item1,index1){
              var thisid = item1.yhid;
              //alert(lastid);
              //alert(thisid);
              var idx=1;
              if(thisid==lastid){
                //alert(index1);
                //var ywyarr= that.collapselist.ywyarr;
                item.jlarr[index1-idx].yhbl = item.jlarr[index1-idx].yhbl + item1.yhbl;
                item.jlarr.splice(index1, 1);
                //that.collapselist.ywyarr=item.ywyarr;
                //alert(item.ywyarr);
                //ywyarr.splice(index1, 1);
                idx++;
                //return;
              } else{
                idx=1;
              }
              lastid = thisid;
              //alert(lastid);
            });
          });
        },

        judge_btn: function(){
            if(this.cyzt_org=='未拆佣' || this.cyzt_org=='拆佣审批拒绝' ){
                this.judge1 = true;
            } else{
                this.judge1 = false;
            }
        },

    //提交审批按钮
    tjsp: function(){
      //alert("hi0");

      var that = this;
      //对报错进行下初始化处理
      that.alert1=false; //不显示就好

      var arrary=[]; //jsonarrary,将所有拆佣记录一次性插入

      this.collapselist.forEach(function (item, index) {
      //for(var i=0;i<that.collapselist.length;i++){
                var totbl = 0;
                item.fpwc = true;
                var yh_nochos = false;
                var ywyfp =true;
                var jlfp =true;

                //原先放在循环外, 但是结果不正常, 尝试放里面看看
                // var data_cy={};  //json对象

                // data_cy["kpsq"] = that.kpsqid; //开票申请id
                // data_cy["cjzj"] = Number(item.cjzj); //成交总价
                // data_cy["jsbl"] = Number(item.dlfjsbl); //代理费结算比例
                // data_cy["jsyj"] = Number(item.dlfjsje); //代理费结算金额,结算佣金
                // data_cy["spzt"] = "审批中"; //审批状态,因为直接提交审批,写审批中
                // data_cy["hkzt"] = "未回款"; //回款状态,未回款

                // 比如需要这样的格式 yyyy-MM-dd hh:mm:ss
                var date = new Date();
                var Y = date.getFullYear() + '-';
                var M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1) + '-';
                var D = date.getDate();
                //var S = Y+M+D;

                //data_cy["jssj"] = Y+M+D; //回款状态,未回款
                //var jssj_str = Y+M+D;

                //item.fpwc = true; 
                //console.log(totbl);
                //totbl += item.ywyarr
                //遍历业务员的分佣
                item.ywyarr.forEach(function (item1, index1) {
                  var data_cy={};  //json对象

                  data_cy["kpsq"] = that.kpsqid; //开票申请id
                  data_cy["cjzj"] = Number(item.cjzj); //成交总价
                  data_cy["jsbl"] = Number(item.dlfjsbl); //代理费结算比例
                  data_cy["jsyj"] = Number(item.dlfjsje); //代理费结算金额,结算佣金
                  data_cy["spzt"] = "审批中"; //审批状态,因为直接提交审批,写审批中
                  data_cy["hkzt"] = "未回款"; //回款状态,未回款
                  data_cy["jssj"] = Y+M+D;

                  console.log(item.cjzj);
                  totbl += Number(item1.yhbl);
                  //Judging whether the name field is null
                  if (item1.yhid == ""||Number(item1.yhbl)==0) { //用户没选择或者比例为0
                    //console.log("space");
                    yh_nochos = true;
                    //提示有空
                    // that.alert1=true;
                    // that.error_msg = item.khmc + "下有业务员未做选择!";
                  };

                  data_cy["cydx"] = item1.yhid; //拆佣对象
                  console.log(data_cy["cydx"]);
                  data_cy["ownerid"] = item1.yhid; //拆佣对象
                  data_cy["fybl"] = Number(item1.yhbl); //合作比例
                  data_cy["yjlx"] = "业务员"; //拆佣类型
                  data_cy["ywjh"] = item.ywjh; //拆佣类型
                  //data_cy["tcbl"] = 20; //提成比例,实际应该每个人分别取
                  //data_cy["llcyje"] = data_cy["jsyj"] * data_cy["tcbl"] /100 * data_cy["fybl"] / 100; //llcyje
                  console.log(data_cy);
                  arrary.push(data_cy);

                });

                //console.log(totbl);
                if (totbl != 100 || yh_nochos || item.ywyarr.length == 0) {
                  console.log("step2");
                  ywyfp = false;
                  console.log("step3");
                };
        

                //遍历经理的分佣
                totbl = 0; //比例合清零
                yh_nochos = false;
                item.jlarr.forEach(function (item2, index2) {
                  var data_cy={};  //json对象

                  data_cy["kpsq"] = that.kpsqid; //开票申请id
                  data_cy["cjzj"] = Number(item.cjzj); //成交总价
                  data_cy["jsbl"] = Number(item.dlfjsbl); //代理费结算比例
                  data_cy["jsyj"] = Number(item.dlfjsje); //代理费结算金额,结算佣金
                  data_cy["spzt"] = "审批中"; //审批状态,因为直接提交审批,写审批中
                  data_cy["hkzt"] = "未回款"; //回款状态,未回款
                  data_cy["jssj"] = Y+M+D;
                  
                  totbl += Number(item2.yhbl);
                  if (item2.yhid == ""||Number(item2.yhbl)==0) {
                    //console.log("space1");
                    yh_nochos = true;
                  };

                  data_cy["cydx"] = item2.yhid; //拆佣对象
                  console.log(item2.yhid);
                  data_cy["ownerid"] = item2.yhid; //拆佣对象
                  data_cy["fybl"] = Number(item2.yhbl); //合作比例
                  data_cy["yjlx"] = "项目经理"; //拆佣类型
                  data_cy["ywjh"] = item.ywjh; //拆佣类型
                  //data_cy["tcbl"] = 20; //提成比例,实际应该每个人分别取
                  //data_cy["llcyje"] = data_cy["jsyj"] * data_cy["tcbl"] /100 * data_cy["fybl"] / 100; //llcyje
                  arrary.push(data_cy);
                  console.log(data_cy);

                });
                //console.log(totbl);
                if (totbl != 100 || yh_nochos || item.jlarr.length == 0) {
                  //console.log("hello1");
                  console.log("step4");
                  jlfp = false;
                  console.log("step5");
                };
                //if(true) item.fpwc = false;

                console.log(jlfp);
                console.log(ywyfp);

                if (!jlfp||!ywyfp) {
                  item.fpwc = false;

                  //报错
                  that.alert1=true;
                  that.error_msg = "请检查页面上的错误!";

                  console.log("a");
                } 
                //console.log(Main.judge1);
                console.log("step6");
            });


      if(!that.alert1) {
        console.log("step777");
        var str0 =JSON.stringify(arrary);
        //str0 = encodeURI(str0);
        console.log(str0);
       // console.log(JSON.stringify(arrary));
        //console.log(that.bindingcode);

        // for (var o in arrary) {
        //   console.log(arrary[o]);
        //   //alert("src:"+jsonstr[i].src+"value:"+jsonstr[i].name);
        // }

        // arrary.forEach(function (arr, index) {
        //   console.log(arr);
        //   axios.get('/distributor.action', {
        // 		params: {
        // 			serviceName: 'insert',
        // 			objectApiName: 'dlfcymxb',
        //       //data: JSON.stringify(that.checkbox.value_js),
        //       data: encodeURI('['+JSON.stringify(arr)+']'),
        //       //data: arrary,
        // 			binding: that.bindingcode
        // 		}
        // 	})
        // 	.then(function (response) {
        // 		//that.bindingcode = response.data.binding;
        // 		//alert("提交成功!");
        // 		console.log("insert successfully");
        // 	})
        // 	.catch(function (error) {
        // 		console.log(error);
        // 	});
        // });

        
        //页面检查ok后进行插入操作, json数组在之前的循环中组好
        // axios.post('/distributor.action', {
        // 	params: {
        // 		serviceName: 'insert',
        // 		objectApiName: 'dlfcymxb',
        //     //data: JSON.stringify(that.checkbox.value_js),
        //     data: str0,
        //     //data: arrary,
        // 		binding: that.bindingcode
        // 	}
        // })
        // .then(function (response) {
        // 	//that.bindingcode = response.data.binding;
        // 	alert("提交成功!");
        // 	//console.log(this.bindingcode);
        // })
        // .catch(function (error) {
        // 	console.log(error);
        // });

        // axios.get('/controller.action', {
		// 	params: {
        //     	name:'jskpapi',
        //     	type:'cy_insert',
		// 		cymx:encodeURI(str0)
		// 	}
        // })
		//axios.post('/controller.action/cyczym.jsp?name=cyjk&type=cy_insert', {
        //axios.post('/customize/page/9291p1140/cyjk.jsp?name=cyjk&type=cy_insert', {
        var params = new URLSearchParams();
        params.append('cymx', encodeURI(str0));
        axios({
            url:'/customize/page/9291p1140/cyjk.jsp?name=cyjk&type=cy_insert',
            method: 'post',
            data: params,
            headers: {
              'Content-type': 'application/x-www-form-urlencoded'
             }
			// params: {
            // 	name:'cyjk',
            // 	type:'cy_insert'
			// },
			
            //cymx:str0

        })
        .then(function (response) {
          alert("ok101!");
          //that.list_sjjb=response.data.data;
          //that.tab_jb_ft=false;
          var data_sp={};
          data_sp["relateId"] = that.kpsqid;
          data_sp["appPath"] = null;
          data_sp["fprId"] = that.managerId; //0052018FF9F7905NEd6u  管理员
        //   axios.get('/distributor.action', {
        //     params: {
        //       serviceName: 'submitForApproval',
        //       data: data_sp,
        //       binding:that.bindingcode
        //     }
        //   })
        //   .then(function (response) {
        //     //alert(response.data.data);
        //     that.judge1 = false;
        //     alert('已提交审批!');
        //     // that.collapselist3.forEach(function(item,index){
        //     // 	if(item.kpsqid==val){
        //     // 		item.spzt = '审批中';
        //     // 		return;
        //     // 	}
        //   })
        //   .catch(function (error) {
        //     console.log(error);
        //   });
          //console.log(this.bindingcode);
          
        })
        .catch(function (error) {
          console.log(error);
        });


        //end

      }
    }
      },
    //   watch: {
    //       //监控整个开票申请对应的数据
    //       //var that=this;
    //       collapselist: {
    //         handler(curVal, oldVal){
    //           Main.judge1 = true;
    //           console.log("step1");
    //           //var totbl=0;
    //           //遍历每单成交

    //           curVal.forEach(function (item, index) {
    //             var totbl = 0;
    //             //if(true) item.fpwc = true;
    //             var yh_nochos = false;
    //             var ywyfp =true;
    //             var jlfp =true;
    //             //item.fpwc = true;
    //             //console.log(totbl);
    //             //totbl += item.ywyarr
    //             //遍历业务员的分佣
    //             item.ywyarr.forEach(function (item1, index1) {
    //               totbl += item1.yhbl;
    //               //Judging whether the name field is null
    //               if (item1.yhid == "") {
    //                 //console.log("space");
    //                 yh_nochos = true;
    //               };
    //             });
    //             //console.log(totbl);
    //             if (totbl != 100 || yh_nochos) {
    //               console.log("step2");
    //               ywyfp = false;
    //               console.log("step3");
    //             };

    //             //遍历经理的分佣
    //             totbl = 0; //比例合清零
    //             yh_nochos = false;
    //             item.jlarr.forEach(function (item2, index2) {
    //               totbl += item2.yhbl;
    //               if (item2.yhid == "") {
    //                 //console.log("space1");
    //                 yh_nochos = true;
    //               };
    //             });
    //             //console.log(totbl);
    //             if (totbl != 100 || yh_nochos) {
    //               //console.log("hello1");
    //               console.log("step4");
    //               jlfp = false;
    //               console.log("step5");
    //             };
    //             //if(true) item.fpwc = false;

    //             console.log(jlfp);
    //             console.log(ywyfp);

    //             if (jlfp&&ywyfp) {
    //               //item.fpwc = true;
    //               console.log("a");
    //             } else{
    //               //item.fpwc = false;
    //               Main.judge1 = false;
    //               console.log("b");
    //               return;

    //             }
    //             //console.log(Main.judge1);
    //             console.log("step6");
    //           });
    //         },
    //         deep: true, 
    //     }
    //   }
}
var Ctor = Vue.extend(Main)
new Ctor().$mount('#app')
</script>
</body>
</html>
