<cc:page type="normal" style="standard" showSidebar="false" showHeader="true"/>
<cc!>
/*
description:项目年度小结页面
version: 1.0
date:20191226
author:tom
log:
*/
private static String encodeParameters(String parameterValue) throws UnsupportedEncodingException { 
	if (parameterValue != null && parameterValue.length()> 0) { 
		byte[] iso = parameterValue.getBytes("ISO-8859-1"); 
		if (parameterValue.equals(new String(iso, "ISO-8859-1"))) { 
			parameterValue= new String(iso, "UTF-8"); 
			return parameterValue; 
		} 
	} 
	return parameterValue; 
}
</cc>

<cc>
//SimpleDateFormat sdf = new SimpleDateFormat("yyyy");
CCService cs = new CCService(userInfo);
String role = userInfo.getRoleId();
String uid = userInfo.getUserId();//当前登录用户id 
String profid = userInfo.getProfileId(); //获取简档

//控制两位小数
DecimalFormat df = new DecimalFormat("#.00");

List<CCObject> ccuserl = cs.cqlQuery("ccuser","SELECT loginname as name FROM ccuser WHERE id = '"+uid+"'"); //登录人的账号
String userName =ccuserl.get(0).get("name")==null?"":ccuserl.get(0).get("name")+""; //账号用于获取bindingcode 

String ksrq = "2019-01-01";
//Sting ksrq = "2019-01-01";

//控制选择项目
List<CCObject> projectlist = new ArrayList(); //select选择的对象
List<CCObject> projectlist_real = new ArrayList(); //真是包含的对象
//out.print(profid);
if("aaa2018E46BFCF90SnzU".equals(profid) || "aaa201854696184hq4oN".equals(profid) || "aaa000001".equals(profid) || "aaa20188BF02AA11vijc".equals(profid) ){
	//projectlist = cs.cqlQuery("Project","SELECT id, name FROM Project WHERE ssbm in ('代理一部','代理二部') and xmzt='代理中' and is_deleted='0'"); //所有代理项目
    projectlist = cs.cqlQuery("Project","SELECT id, name FROM Project WHERE ssbm in ('代理一部','代理二部') and (xmzt='代理中' or (xmzt='已结束' and xmyxrq>= str_to_date('"+ksrq+" 00:00:00', '%Y-%m-%d %H:%i:%s'))) and is_deleted='0'");
    // {CCObjectAPI=Project, name=有所为大厦, id=a052019DFB116D4CRqGz}]
    projectlist_real.addAll(projectlist);
    CCObject ccobj = new CCObject("Project");
    ccobj.put("CCObjectAPI","Project");
    ccobj.put("name","全部");
    ccobj.put("id","all");
    projectlist.add(ccobj);
    //out.print(projectlist);
    //out.print(projectlist_real);
} else if("aaa20180681351FmekUG".equals(profid) ){ //aaa20180681351FmekUG
	if("00520187C46607BlOfN0".equals(uid))	{ //一部郑柏
		//projectlist = cs.cqlQuery("Project","SELECT id, name FROM Project WHERE ssbm in ('代理一部') and xmzt='代理中' and is_deleted='0'"); //一部项目
		projectlist = cs.cqlQuery("Project","SELECT id, name FROM Project WHERE ssbm in ('代理一部') and (xmzt='代理中' or (xmzt='已结束' and xmyxrq>= str_to_date('"+ksrq+" 00:00:00', '%Y-%m-%d %H:%i:%s'))) and is_deleted='0'"); //一部项目
	} else {
		 //projectlist = cs.cqlQuery("Project","SELECT id, name FROM Project WHERE ssbm in ('代理二部') and xmzt='代理中' and is_deleted='0'"); //二部项目
		 projectlist = cs.cqlQuery("Project","SELECT id, name FROM Project WHERE ssbm in ('代理二部') and (xmzt='代理中' or (xmzt='已结束' and xmyxrq>= str_to_date('"+ksrq+" 00:00:00', '%Y-%m-%d %H:%i:%s'))) and is_deleted='0'"); //二部项目
	}
} else if("aaa2018A38306ED9syVe".equals(profid)){
	//projectlist = cs.cqlQuery("Project","SELECT id, name FROM Project WHERE xmjl = '"+uid+"' and xmzt='代理中' and is_deleted='0'");
	projectlist = cs.cqlQuery("Project","SELECT id, name FROM Project WHERE xmjl = '"+uid+"' and (xmzt='代理中' or (xmzt='已结束' and xmyxrq>= str_to_date('"+ksrq+" 00:00:00', '%Y-%m-%d %H:%i:%s'))) and is_deleted='0'");
}

// String sqlywy = "select id,name from project where is_deleted='0' ";
// if("aaa2018A38306ED9syVe".equals(profile)){ //项目经理
//     sqlywy = "select id,name from ccuser where is_deleted='0' and isusing='1' and profile='aaa201723453E5EBNtzU' and manager='"+uid+"'";
// } else if("2018615E4F1BCC6i4BMk".equals(role) || "2018E3B9B883BF7mD8kL".equals(role) || "2017C22944AA867gtbJ8".equals(role) || "2017F9C39CFBFCCslc6i".equals(role) || "2018DA601CDE602QwC8y".equals(role)){ //总监,亮哥,老大,管理员,茜姐
//     sqlywy = "select id,name from ccuser where is_deleted='0' and isusing='1' and profile='aaa201723453E5EBNtzU'"; //全部
// } else if("aaa201723453E5EBNtzU".equals(profile)){
//     sqlywy = "select id,name from ccuser where is_deleted='0' and isusing='1' and profile='aaa201723453E5EBNtzU' and id='"+uid+"'";
// }
// listywy = cs.cqlQuery("ccuser",sqlywy);       //可选业务员
//String ywymrsel = listywy.get(0).get("id")==null?"":listywy.get(0).get("id")+ ""; 
// String ywy = request.getParameter("ywy")==null?ywymrsel:request.getParameter("ywy")+"";
// uid=ywy;
// List<CCObject> ccuser2 = cs.cqlQuery("ccuser","SELECT name as ywyname FROM ccuser WHERE id = '"+uid+"'"); //选取人的姓名
// String ywyname = ccuser2.get(0).get("ywyname")==null?"":ccuser2.get(0).get("ywyname")+"";
//uid="005201806858A8AhE2lo"; //测试控制对象 //00520189DE91DA0yJ8Op 游果 005201821219FCAlbIqA 王娟 005201806858A8AhE2lo 任作谋
//listywy = cs.cqlQuery("ccuser",sqlywy);       //可选业务员

//给一个默认的项目选项
String xmmrsel = projectlist.get(0).get("id")==null?"":projectlist.get(0).get("id")+ ""; 
String xm = request.getParameter("xm")==null?xmmrsel:request.getParameter("xm")+""; //获取项目选项,假如没有选项, 取默认值
out.print(xm);
//List<CCObject> projectlist1 = cs.cqlQuery("Project","select name from project where id='"+xm+"'");
//String xmnm = projectlist1.get(0).get("name")==null?"":projectlist1.get(0).get("name")+ ""; 
String xmnm = ""; 
//服务项目的情况
// String sql0= "select a.xmmc as xmmc,p.name as xmnm from account a left join project p on a.xmmc= p.id  where a.is_deleted = '0' and a.createbyid='" + uid+"' and a.createdate >= str_to_date('2019-01-01', '%Y-%m-%d %H:%i:%s') AND a.createdate <= str_to_date('2019-12-31', '%Y-%m-%d %H:%i:%s') group by a.xmmc";
// List<CCObject> xmlist = cs.cqlQuery("account",sql0);
// //String xmnum = xmlist.get(0).get("xmnum")==null?"":xmlist.get(0).get("xmnum")+ ""; //项目数直接改取size
// int xmnum = xmlist.size();
// String xmnm="";
// for(CCObject item:xmlist){ 
//     xmnm += item.get("xmnm")==null?"":item.get("xmnm")+ "" + ",";
// }
// xmnm = xmnm.substring(0,xmnm.length() - 1);
String accountnum ="";
String anum ="";
String bnum  = "";
String cnum  = "";
String smnum = "";
String zjnum = "";
String gknum = "";
String hpnum = "";
String qdnum = "";
String gjnum = "";
String cjnum ="";
Double ljcjmj=0.0;
Double ljcje =0.0;
String jsnum = "";
String jsykpnum = "";
String kpsqnum = "";
String ljkpje = "";
String ljhkje = "";
String ljsjsy = "";

JSONArray projsonarr = new JSONArray(); 
String projs = "";

//out.print(xm);
//选择全部的话
if("all".equals(xm)){
    //out.print("HELLO1");


    for (CCObject o : projectlist_real) {
        xm = o.get("id")==null?"":o.get("id")+ ""; 
        JSONObject projson= new JSONObject();
        xmnm = o.get("name")==null?"":o.get("name")+ ""; 
        projson.put("xmnm",xmnm); 
        //获取客户数据,A,B,C类客户各多少
        //String sql1= "select count(*) as num,sum(if((khdj = 'A'),1,0)) as anum,sum(if((khdj = 'B'),1,0)) as bnum,sum(if((khdj = 'C'),1,0)) as cnum,sum(if((recordtype = '20186166515AE4A8ZfOc' or recordtype = '2018525F215221DtlTXV'),1,0)) as smnum,sum(if((ownerid <> createbyid),1,0)) as gknum from account where is_deleted = '0' and createbyid='"+uid+"' and createdate >= str_to_date('2019-01-01', '%Y-%m-%d %H:%i:%s')  AND createdate <= str_to_date('2019-12-31', '%Y-%m-%d %H:%i:%s')";
        String sql1= "select count(*) as num,sum(if((khdj = 'A'),1,0)) as anum,sum(if((khdj = 'B'),1,0)) as bnum,sum(if((khdj = 'C'),1,0)) as cnum,sum(if((recordtype <> '2018525F215221DtlTXV'),1,0)) as smnum,sum(if((sfzjkh='是'),1,0)) as zjnum,sum(if((ghkh = '是'),1,0)) as gknum,sum(if((khmyd = 5),1,0)) as hpnum,sum(if((rztj1='转介'),1,0)) as qdnum from account where is_deleted = '0' and xmmc='"+xm+"' and createdate >= str_to_date('2019-01-01', '%Y-%m-%d %H:%i:%s')  AND createdate <= str_to_date('2019-12-31', '%Y-%m-%d %H:%i:%s')";
        //out.print(sql1);
        List<CCObject> accountlist = cs.cqlQuery("account",sql1);
        accountnum = accountlist.get(0).get("num")==null?"":accountlist.get(0).get("num")+ ""; //客户总数
        anum = accountlist.get(0).get("anum")==null?"":accountlist.get(0).get("anum")+ ""; //a类
        bnum = accountlist.get(0).get("bnum")==null?"":accountlist.get(0).get("bnum")+ ""; //b类
        cnum = accountlist.get(0).get("cnum")==null?"":accountlist.get(0).get("cnum")+ ""; //c类
        smnum = accountlist.get(0).get("smnum")==null?"":accountlist.get(0).get("smnum")+ ""; //上门数
        zjnum = accountlist.get(0).get("zjnum")==null?"":accountlist.get(0).get("zjnum")+ ""; //转介数
        gknum = accountlist.get(0).get("gknum")==null?"":accountlist.get(0).get("gknum")+ ""; //公客数
        hpnum = accountlist.get(0).get("hpnum")==null?"":accountlist.get(0).get("hpnum")+ ""; //好评数
        qdnum = accountlist.get(0).get("qdnum")==null?"":accountlist.get(0).get("qdnum")+ ""; //渠道客户数量
        //out.print(accountnum);
        projson.put("accountnum",accountnum); 
        projson.put("anum",anum); 
        projson.put("bnum",bnum); 
        projson.put("cnum",cnum); 
        projson.put("smnum",smnum); 
        projson.put("zjnum",zjnum); 
        projson.put("gknum",gknum); 
        projson.put("hpnum",hpnum); 
        projson.put("qdnum",qdnum); 

        //跟进次数
        String sql2="select count(*) as num from ywjhgjmx where is_deleted='0' and xm='"+xm+"' and createdate >= str_to_date('2019-01-01', '%Y-%m-%d %H:%i:%s')  AND createdate <= str_to_date('2019-12-31', '%Y-%m-%d %H:%i:%s')";
        List<CCObject> gjmxlist = cs.cqlQuery("ywjhgjmx",sql2);
        gjnum = gjmxlist.get(0).get("num")==null?"":gjmxlist.get(0).get("num")+ ""; //跟进数
        //out.print(gjnum);
        projson.put("gjnum",gjnum); 

        //成交手数,累计成交面积,累计成交额
        String sql3="select count(*) as cjnum ,round(sum(a.cjmj),2) as ljcjmj,round(sum(a.cjmj*a.cjdj),2) as ljcje from Opportunity a where  a.is_deleted = '0' and a.xmmc='"+xm+"' and a.createdate >= str_to_date('2019-01-01', '%Y-%m-%d %H:%i:%s') AND a.createdate <= str_to_date('2019-12-31', '%Y-%m-%d %H:%i:%s') and a.jieduan='成交' and a.spzt='审批通过'";
        List<CCObject> cjlist1 = cs.cqlQuery("Opportunity",sql3);
        cjnum = cjlist1.get(0).get("cjnum")==null?"":cjlist1.get(0).get("cjnum")+ ""; //成交手数
        //String ljcjmj = cjlist1.get(0).get("ljcjmj")==null?"":cjlist1.get(0).get("ljcjmj")+ ""; //累计成交面积
        ljcjmj = cjlist1.get(0).get("ljcjmj")==null?0.0:Double.parseDouble(cjlist1.get(0).get("ljcjmj")+"");
        //String ljcje = cjlist1.get(0).get("ljcje")==null?"":cjlist1.get(0).get("ljcje")+ ""; //累计成交额
        ljcje = cjlist1.get(0).get("ljcje")==null?0.0:Double.parseDouble(cjlist1.get(0).get("ljcje")+"");
        projson.put("cjnum",cjnum); 
        projson.put("ljcjmj",ljcjmj); 
        projson.put("ljcje",ljcje); 

        //结算单情况,取待确认以上
        String sql4 = "select count(*) as jsnum,sum(if((jyzt in ('部分开票','全部开票')),1,0)) as jsykpnum from dljsmxb where is_deleted ='0' and xmmc='"+xm+"' and jyzt<>'待确认' and qysj>= str_to_date('2019-01-01', '%Y-%m-%d %H:%i:%s') and qysj<= str_to_date('2019-12-31', '%Y-%m-%d %H:%i:%s')";
        List<CCObject> jsdlist1 = cs.cqlQuery("dljsmxb",sql4);
        jsnum = jsdlist1.get(0).get("jsnum")==null?"0":jsdlist1.get(0).get("jsnum")+ ""; //结算单数量
        jsykpnum = jsdlist1.get(0).get("jsykpnum")==null?"0":jsdlist1.get(0).get("jsykpnum")+ ""; //已开票数量
        projson.put("jsnum",jsnum); 
        projson.put("jsykpnum",jsykpnum); 

        //开票情况
        String sql5 = "select count(*) as kpnum,round(sum(fpje),2) as ljkpje from kpsq where is_deleted ='0' and xmmc='"+xm+"' and spzt='审批通过' and createdate>= str_to_date('2019-01-01', '%Y-%m-%d %H:%i:%s') and createdate<= str_to_date('2019-12-31', '%Y-%m-%d %H:%i:%s')";
        List<CCObject> kpsqlist1 = cs.cqlQuery("kpsq",sql5);
        //String jsnum = jsdlist1.get(0).get("jsnum")==null?"":jsdlist1.get(0).get("jsnum")+ ""; //结算单数量
        //int kpsqnum = kpsqlist1.size();
        kpsqnum = kpsqlist1.get(0).get("kpnum")==null?"0":kpsqlist1.get(0).get("kpnum")+ ""; //累计开票次数
        ljkpje = kpsqlist1.get(0).get("ljkpje")==null?"0":kpsqlist1.get(0).get("ljkpje")+ ""; //累计开票金额
        projson.put("kpsqnum",kpsqnum); 
        projson.put("ljkpje",ljkpje); 

        //回款
        String sql6 = "select round(sum(h.hkje),2) as ljhkje,round(sum(h.sjsy),2) as ljsjsy from hkjl h left join cloudccskjh c on h.skjhmc=c.id where c.xmmc='"+xm+"' and h.hkqrzt='已确认' and c.is_deleted='0' and h.is_deleted='0' and h.khrq>= str_to_date('2019-01-01', '%Y-%m-%d %H:%i:%s') and h.khrq<= str_to_date('2019-12-31', '%Y-%m-%d %H:%i:%s')";
        List<CCObject> hklist1 = cs.cqlQuery("hkjl",sql6);
        //String jsnum = jsdlist1.get(0).get("jsnum")==null?"":jsdlist1.get(0).get("jsnum")+ ""; //结算单数量
        //int kpsqnum = kpsqlist1.size();
        ljhkje = hklist1.get(0).get("ljhkje")==null?"0":hklist1.get(0).get("ljhkje")+ ""; //累计回款金额
        ljsjsy = hklist1.get(0).get("ljsjsy")==null?"0":hklist1.get(0).get("ljsjsy")+ ""; //累计回款金额
        projson.put("ljhkje",ljhkje); 
        projson.put("ljsjsy",ljsjsy); 
        projsonarr.add(projson);
    }
    projs=projsonarr.toString();
    //out.print(projs);
} else{ //单个项目
    out.print("HELLO2");
    List<CCObject> projectlist1 = cs.cqlQuery("Project","select name from project where id='"+xm+"'");
    xmnm = projectlist1.get(0).get("name")==null?"":projectlist1.get(0).get("name")+ ""; 

    //获取客户数据,A,B,C类客户各多少
    //String sql1= "select count(*) as num,sum(if((khdj = 'A'),1,0)) as anum,sum(if((khdj = 'B'),1,0)) as bnum,sum(if((khdj = 'C'),1,0)) as cnum,sum(if((recordtype = '20186166515AE4A8ZfOc'),1,0)) as smnum,sum(if((ownerid <> createbyid),1,0)) as gknum from account where is_deleted = '0' and createbyid='"+uid+"' and createdate >= str_to_date('2019-01-01', '%Y-%m-%d %H:%i:%s')  AND createdate <= str_to_date('2019-12-31', '%Y-%m-%d %H:%i:%s')";
    String sql1= "select count(*) as num,sum(if((khdj = 'A'),1,0)) as anum,sum(if((khdj = 'B'),1,0)) as bnum,sum(if((khdj = 'C'),1,0)) as cnum,sum(if((recordtype = '20186166515AE4A8ZfOc'),1,0)) as smnum,sum(if((sfzjkh='是'),1,0)) as zjnum,sum(if((ghkh = '是'),1,0)) as gknum,sum(if((khmyd = 5),1,0)) as hpnum,sum(if((rztj1='转介'),1,0)) as qdnum from account where is_deleted = '0' and xmmc='"+xm+"' and createdate >= str_to_date('2019-01-01', '%Y-%m-%d %H:%i:%s')  AND createdate <= str_to_date('2019-12-31', '%Y-%m-%d %H:%i:%s')";
    //out.print(sql1);
    List<CCObject> accountlist = cs.cqlQuery("account",sql1);
    accountnum = accountlist.get(0).get("num")==null?"":accountlist.get(0).get("num")+ ""; //客户总数
    anum = accountlist.get(0).get("anum")==null?"":accountlist.get(0).get("anum")+ ""; //a类
    bnum = accountlist.get(0).get("bnum")==null?"":accountlist.get(0).get("bnum")+ ""; //b类
    cnum = accountlist.get(0).get("cnum")==null?"":accountlist.get(0).get("cnum")+ ""; //c类
    smnum = accountlist.get(0).get("smnum")==null?"":accountlist.get(0).get("smnum")+ ""; //上门数
    zjnum = accountlist.get(0).get("zjnum")==null?"":accountlist.get(0).get("zjnum")+ ""; //转介数
    gknum = accountlist.get(0).get("gknum")==null?"":accountlist.get(0).get("gknum")+ ""; //公客数
    hpnum = accountlist.get(0).get("hpnum")==null?"":accountlist.get(0).get("hpnum")+ ""; //好评数
    qdnum = accountlist.get(0).get("qdnum")==null?"":accountlist.get(0).get("qdnum")+ ""; //渠道客户数量
    //out.print(accountnum);
    
    //跟进次数
    String sql2="select count(*) as num from ywjhgjmx where is_deleted='0' and xm='"+xm+"' and createdate >= str_to_date('2019-01-01', '%Y-%m-%d %H:%i:%s')  AND createdate <= str_to_date('2019-12-31', '%Y-%m-%d %H:%i:%s')";
    List<CCObject> gjmxlist = cs.cqlQuery("ywjhgjmx",sql2);
    gjnum = gjmxlist.get(0).get("num")==null?"":gjmxlist.get(0).get("num")+ ""; //跟进数
    //out.print(gjnum);
    
    //成交手数,累计成交面积,累计成交额
    String sql3="select count(*) as cjnum ,round(sum(a.cjmj),2) as ljcjmj,round(sum(a.cjmj*a.cjdj),2) as ljcje from Opportunity a where  a.is_deleted = '0' and a.xmmc='"+xm+"' and a.createdate >= str_to_date('2019-01-01', '%Y-%m-%d %H:%i:%s') AND a.createdate <= str_to_date('2019-12-31', '%Y-%m-%d %H:%i:%s') and a.jieduan='成交' and a.spzt='审批通过'";
    List<CCObject> cjlist1 = cs.cqlQuery("Opportunity",sql3);
    cjnum = cjlist1.get(0).get("cjnum")==null?"":cjlist1.get(0).get("cjnum")+ ""; //成交手数
    //String ljcjmj = cjlist1.get(0).get("ljcjmj")==null?"":cjlist1.get(0).get("ljcjmj")+ ""; //累计成交面积
    ljcjmj = cjlist1.get(0).get("ljcjmj")==null?0.0:Double.parseDouble(cjlist1.get(0).get("ljcjmj")+"");
    //String ljcje = cjlist1.get(0).get("ljcje")==null?"":cjlist1.get(0).get("ljcje")+ ""; //累计成交额
    ljcje = cjlist1.get(0).get("ljcje")==null?0.0:Double.parseDouble(cjlist1.get(0).get("ljcje")+"");
    
    
    //结算单情况,取待确认以上
    String sql4 = "select count(*) as jsnum,sum(if((jyzt in ('部分开票','全部开票')),1,0)) as jsykpnum from dljsmxb where is_deleted ='0' and xmmc='"+xm+"' and jyzt<>'待确认' and qysj>= str_to_date('2019-01-01', '%Y-%m-%d %H:%i:%s') and qysj<= str_to_date('2019-12-31', '%Y-%m-%d %H:%i:%s')";
    List<CCObject> jsdlist1 = cs.cqlQuery("dljsmxb",sql4);
    jsnum = jsdlist1.get(0).get("jsnum")==null?"0":jsdlist1.get(0).get("jsnum")+ ""; //结算单数量
    jsykpnum = jsdlist1.get(0).get("jsykpnum")==null?"0":jsdlist1.get(0).get("jsykpnum")+ ""; //已开票数量
    
    //开票情况
    String sql5 = "select count(*) as kpnum,round(sum(fpje),2) as ljkpje from kpsq where is_deleted ='0' and xmmc='"+xm+"' and spzt='审批通过' and createdate>= str_to_date('2019-01-01', '%Y-%m-%d %H:%i:%s') and createdate<= str_to_date('2019-12-31', '%Y-%m-%d %H:%i:%s')";
    List<CCObject> kpsqlist1 = cs.cqlQuery("kpsq",sql5);
    //String jsnum = jsdlist1.get(0).get("jsnum")==null?"":jsdlist1.get(0).get("jsnum")+ ""; //结算单数量
    //int kpsqnum = kpsqlist1.size();
    kpsqnum = kpsqlist1.get(0).get("kpnum")==null?"0":kpsqlist1.get(0).get("kpnum")+ ""; //累计开票次数
    ljkpje = kpsqlist1.get(0).get("ljkpje")==null?"0":kpsqlist1.get(0).get("ljkpje")+ ""; //累计开票金额
    
    //回款
    String sql6 = "select round(sum(h.hkje),2) as ljhkje,round(sum(h.sjsy),2) as ljsjsy from hkjl h left join cloudccskjh c on h.skjhmc=c.id where c.xmmc='"+xm+"' and h.hkqrzt='已确认' and c.is_deleted='0' and h.is_deleted='0' and h.khrq>= str_to_date('2019-01-01', '%Y-%m-%d %H:%i:%s') and h.khrq<= str_to_date('2019-12-31', '%Y-%m-%d %H:%i:%s')";
    List<CCObject> hklist1 = cs.cqlQuery("hkjl",sql6);
    //String jsnum = jsdlist1.get(0).get("jsnum")==null?"":jsdlist1.get(0).get("jsnum")+ ""; //结算单数量
    //int kpsqnum = kpsqlist1.size();
    ljhkje = hklist1.get(0).get("ljhkje")==null?"0":hklist1.get(0).get("ljhkje")+ ""; //累计回款金额
    ljsjsy = hklist1.get(0).get("ljsjsy")==null?"0":hklist1.get(0).get("ljsjsy")+ ""; //累计回款金额

    projs="[]";
}
//选择全部的话
// if("all".equals(xm)){
//     for (CCObject o : projectlist_real) {
//         out.print("hello");
//     }
// }

</cc>

<html>
<script src="//vuejs.org/js/vue.min.js"></script>
<link rel="stylesheet" href="//unpkg.com/view-design/dist/styles/iview.css">
<script src="//unpkg.com/view-design/dist/iview.min.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/echarts@4.6.0/dist/echarts.min.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/axios@0.19.0/dist/axios.min.js"></script>
<head>项目小结</head>
<body>
<div id="app">
    <template>
        <!-- //00520189DE91DA0yJ8Op 游果 005201821219FCAlbIqA 王娟 005201806858A8AhE2lo 任作谋 -->
        <form name="theform" id="theform" method="post">
            <select name="xm" id="xm" v-model="xmsel">
                <cc>for(CCObject list2:projectlist){
                    if(xm.equals(list2.get("id"))){ out.print(xm);</cc>
                      <option selected value='<cc:outprint>list2.get("id")</cc:outprint>'><cc:outprint>list2.get("name")</cc:outprint></option>
                      <cc>}else{</cc>
                      <option value='<cc:outprint>list2.get("id")</cc:outprint>'><cc:outprint>list2.get("name")</cc:outprint></option>
                   <cc>}}</cc>
            </select>
            <input type="submit"  class="input01" value=" 查 询 "/>
        </form>
        <tabs type="card">
            <tab-pane label="小结">
                <div v-if="xmsel!=='all'">
                    {{xmsel}}
                    <cc:outprint>xmnm</cc:outprint>
                    一共接待了<cc:outprint>accountnum</cc:outprint>批客户!<br>
                    上门客户<cc:outprint>smnum</cc:outprint><br>
                    A类<cc:outprint>anum</cc:outprint>批;<br>
                    B类<cc:outprint>bnum</cc:outprint>批;<br>
                    C类<cc:outprint>cnum</cc:outprint>批;<br>
                    有<cc:outprint>hpnum</cc:outprint>批客户对项目的服务给了满意评价!<br>
                    项目下业务员一共记录了维护客户的<cc:outprint>gjnum</cc:outprint>条跟进记录;<br>
                    由于跟进不及时,依然有<cc:outprint>gknum</cc:outprint>批客户掉入公客池;<br>
                    项目联动转介了<cc:outprint>zjnum</cc:outprint>批!<br>
                    项目累计<cc:outprint>cjnum</cc:outprint>手成交!<br>
                    累计成交面积<cc:outprint>ljcjmj</cc:outprint>平方米,累计成交金额<cc:outprint>ljcje</cc:outprint>元!<br>
                    针对成交结算了<cc:outprint>jsnum</cc:outprint>,其中<cc:outprint>jsykpnum</cc:outprint>已开票.<br>
                    累计开票<cc:outprint>kpsqnum</cc:outprint>次,共计开票金额<cc:outprint>ljkpje</cc:outprint>.<br>
                    回款<cc:outprint>ljhkje</cc:outprint>,实际收益<cc:outprint>ljsjsy</cc:outprint>!
                </div>
                <div v-if="xmsel==='all'">
                    <i-table :columns="columns1" :data="data1" show-summary></i-table>
                </div>
            </tab-pane>
            <!-- <tab-pane label="">
            </tab-pane> -->
        </tabs>
        <!-- <i-table :columns="columns1" :data="data1" show-summary></i-table> -->

    </template>
    <br/>
    <br/>
    <br/>

</div>

</body>
</html>

<script>
var Main = {
    data () {
        return {
            userName:'<cc:outprint>userName</cc:outprint>',
            bindingcode: '',
            xmsel: '<cc:outprint>xm</cc:outprint>',
            columns1: [
                {
                    title: '项目',
                    key: 'xmnm'
                },
                {
                    title: '客户总数',
                    key: 'accountnum'
                },
                {
                    title: '上门数',
                    key: 'smnum'
                },
                {
                    title: 'A类',
                    key: 'anum'
                },
                {
                    title: 'B类',
                    key: 'bnum'
                },
                {
                    title: 'C类',
                    key: 'cnum'
                },
                {
                    title: '好评数',
                    key: 'hpnum'
                },
                {
                    title: '跟进数',
                    key: 'gjnum'
                },
                {
                    title: '公客数',
                    key: 'gknum'
                },
                {
                    title: '转介数',
                    key: 'zjnum'
                },
                {
                    title: '成交手数',
                    key: 'cjnum'
                },
                {
                    title: '累计成交面积',
                    key: 'ljcjmj'
                },
                {
                    title: '累计成交金额',
                    key: 'ljcje'
                },
                {
                    title: '结算单数',
                    key: 'jsnum'
                },
                {
                    title: '结算单已开票数',
                    key: 'jsykpnum'
                },
                {
                    title: '开票次数',
                    key: 'kpsqnum'
                },
                {
                    title: '累计开票金额',
                    key: 'ljkpje'
                },
                {
                    title: '累计回款',
                    key: 'ljhkje'
                },
                {
                    title: '实际收益',
                    key: 'ljsjsy'
                },
            ],
            data1:<cc:outprint>projs</cc:outprint>,
        }
    },
    created: function() {
        this.getBinding()
    },
    mounted: function() {
        
    },
    methods: {
        getBinding: function() {
			var that = this;
			axios.get('/distributor.action', {
				params: {
					serviceName: 'cssoLogin',
					userName: this.userName,
					authCode: '6b42a467259407218c0e6acdfc978c01'
				
				}
			})
				.then(function (response) {
					that.bindingcode = response.data.binding;
					//console.log(this.bindingcode);
				})
				.catch(function (error) {
					console.log(error);
				});
		},
        
        
    },
}

var Component = Vue.extend(Main)
new Component().$mount('#app')
</script>

