<cc:page type="normal" style="standard" showSidebar="false" showHeader="false" isELIgnored="false" />
<cc!>
/*
description:项目经理简报
version: 1.0
date:20190725
author:tom
log:
1.20190726 增加A,B,C类客户的数量
2.20200314 增加客户是渠道还是自然上门客户
3.20200721 增加上门客户中的自然上门数, 渠道数, 联动转介数
4.20200820 a.添加链接跳转到客户详情;b.在客户界面隐藏手机号码显示;c.权限控制;
5.20200907 进线判断修改
6.20200920 增加预期创收字段
*/

/** * 将ISO-8859-1编码格式的字符串转码为UTF-8 
 * * * @param parameterValue 
 * * @return 
 * * @throws UnsupportedEncodingException 
 * */ 
private static String encodeParameters(String parameterValue) throws UnsupportedEncodingException { 
	if (parameterValue != null && parameterValue.length()> 0) { 
		byte[] iso = parameterValue.getBytes("ISO-8859-1"); 
		if (parameterValue.equals(new String(iso, "ISO-8859-1"))) { 
			parameterValue= new String(iso, "UTF-8"); 
			return parameterValue; 
		} 
	} 
	return parameterValue; 
}
</cc>
<cc>
	CCService cs = new CCService(userInfo); 
	String uid = userInfo.getUserId();//当前登录用户id 
	List<CCObject> ccuserl = cs.cqlQuery("ccuser","SELECT loginname as name FROM ccuser WHERE id = '"+uid+"'"); //登录人的账号
	String userName =ccuserl.get(0).get("name")==null?"":ccuserl.get(0).get("name")+""; 
	
	//String uid = "0052018470A714CaerX7"; //李荣武id 测试用 
	String profid = userInfo.getProfileId();//getProfileId当前登录用户的简档id 
	//String userName = userInfo.getUserName();//getUserName 
	
	//获取binding
	 
	
	//日期的处理
	java.text.SimpleDateFormat df = new java.text.SimpleDateFormat("yyyy-MM-dd");
        String nowday = df.format(new Date());
        //out.print(nowday);
        String ksrq = request.getParameter("startTime")==null?nowday:request.getParameter("startTime")+"";//开始日期
        //out.print(ksrq);
        //out.print(ksrq);
        String jsrq = request.getParameter("endTime")==null?nowday:request.getParameter("endTime")+"";//结束日期
        //out.print(jsrq);
        String datetime = " and a.createdate >= str_to_date('"+ksrq+" 00:00:00', '%Y-%m-%d %H:%i:%s')  AND a.createdate <= str_to_date('"+jsrq+" 23:59:59', '%Y-%m-%d %H:%i:%s') ";
  
  //进入页面的用户控制
  List<CCObject> projectlist = new ArrayList();
  //out.print(profid);
  if("aaa2018E46BFCF90SnzU".equals(profid) || "aaa201854696184hq4oN".equals(profid) || "aaa000001".equals(profid) || "aaa20180681351FmekUG".equals(profid)){
  	projectlist = cs.cqlQuery("Project","SELECT id, name FROM Project WHERE ssbm in ('代理一部','代理二部') and xmzt='代理中' and is_deleted='0'"); //所有代理项目
  } 
//   else if("aaa20180681351FmekUG".equals(profid) ){
//   	if("aaa20180681351FmekUG".equals(uid))	{ //一部郑柏
//   		projectlist = cs.cqlQuery("Project","SELECT id, name FROM Project WHERE ssbm in ('代理一部') and xmzt='代理中' and is_deleted='0'"); //一部项目
//   	} else {
//   	 	projectlist = cs.cqlQuery("Project","SELECT id, name FROM Project WHERE ssbm in ('代理二部') and xmzt='代理中' and is_deleted='0'"); //二部项目
//   	}
//   } 
  else if("aaa2018A38306ED9syVe".equals(profid)){
  	projectlist = cs.cqlQuery("Project","SELECT id, name FROM Project WHERE xmjl = '"+uid+"' and xmzt='代理中' and is_deleted='0'"); 
  } else{
    projectlist = null;
  }
  
	//out.print(String.valueOf(projectlist.size()));
	//List<CCObject> projectlist = cs.cqlQuery("Project","SELECT id, name FROM Project WHERE xmjl = '"+uid+"' and xmzt='代理中' and is_deleted='0'"); //该经理管理的代理中的项目 
	//[{"CCObjectAPI":"Project","name":"广州海珠同创汇","id":"a05201825B086F3UiZWa"},{"CCObjectAPI":"Project","name":"广州誉城同创汇","id":"a05201835C43A40C4KAS"}]
	//List<CCObject> Accountlist = cs.cqlQuery("Account","SELECT a.id as id, a.name as name, a.xylx as industry, CASE a.recordtype when '20186166515AE4A8ZfOc' then '租赁客户' when '2018525F215221DtlTXV' then '进线客户' else '销售客户' end as type, a.khdj as level , a.khlyqy as area FROM Account a inner join ccuser b on a.ownerid = b.id WHERE a.createbyid <> a.ownerid and a.ghkh = '是' and a.ownerid <> '005201852146611JQCTr' and b.profile = 'aaa2018A38306ED9syVe' and a.lxrdh not like '%0000%' and a.is_deleted = '0' ");
	String projectid =""; //项目id 
	String projectname =""; //项目名称 
	String ywyid = ""; //业务员id 
	String ywyname =""; //业务员姓名
	int ywyacnum =0; //业务员客户数 
	int ywylineacnum =0; //业务员进线客户数 
	int ywylineacnumt =0; //项目下业务员进线客户总数 
	int ywysmacnum =0; //业务员上门客户数 
    int ywysmacnumt =0; //项目业务员上门客户总数 
    int ywysmacnum_qd =0; //业务员上门渠道客户数
    int ywysmacnum_qdt =0;//项目业务员上门渠道总客户总数 
    int ywysmacnum_ldzj =0; //业务员联动转介客户数 
    int ywysmacnum_ldzjt =0; //项目业务员联动转介客户总数
	int ywysmacnumt_a =0; //项目业务员上门客户A类客户的数量
	int ywysmacnumt_at =0;
	int ywysmacnumt_b =0; //项目业务员上门客户B类客户的数量
	int ywysmacnumt_bt =0;
	int ywyflnum =0; //业务员跟进数 
	//Map ywymap = new HashMap(); 
	JSONObject projectjson = new JSONObject();
	JSONArray projectjsonarr = new JSONArray(); 
	String jsa =""; 
	for(CCObject item:projectlist){ 
		ywylineacnumt =0;
		ywysmacnumt =0;
		ywysmacnumt_at=0;
        ywysmacnumt_bt=0;
        ywysmacnum_qdt =0;
        ywysmacnum_ldzjt =0;
		projectid = item.get("id")==null?"":item.get("id")+ ""; 
		projectname = item.get("name")==null?"":item.get("name") + ""; 
		List<CCObject> SaleGrouplist = cs.cqlQuery("ProjectSaleGroup","SELECT xmxsy FROM ProjectSaleGroup WHERE xmmc = '"+projectid+"' and is_deleted='0'"); 
		JSONObject ywytojson = new JSONObject(); 
		JSONArray ywytojsonarr = new JSONArray(); 
		for(CCObject project:SaleGrouplist){ 
			ywyid = project.get("xmxsy")==null?"":project.get("xmxsy") + ""; 
			//out.print(ywyid+"/"); 
			String sql1 = "SELECT count(*) as num FROM Account a WHERE ownerid = '"+ywyid + "'"+datetime+" is_deleted='0' ";
			//out.print(sql1); 
			List<CCObject> Accountnum = cs.cqlQuery("Account","SELECT count(*) as num FROM Account a WHERE ownerid = '"+ywyid+"' "+datetime+"and is_deleted='0' ");//客户总数量
			ywyacnum = Accountnum.get(0).get("num")==null?0:Integer.parseInt(Accountnum.get(0).get("num")+""); 
			List<CCObject> Accountnum1 = cs.cqlQuery("Account","SELECT count(*) as num FROM Account a WHERE ownerid = '"+ywyid+"' "+datetime+"and is_deleted='0' and recordtype = '2018525F215221DtlTXV' ");//进线客户数量
			ywylineacnum = Accountnum1.get(0).get("num")==null?0:Integer.parseInt(Accountnum1.get(0).get("num")+""); 
			ywysmacnum = ywyacnum - ywylineacnum; //上门客户数=客户总数-进线客户数

			List<CCObject> Accountnum_a = cs.cqlQuery("Account","SELECT count(*) as num FROM Account a WHERE ownerid = '"+ywyid+"' "+datetime+"and is_deleted='0' and khdj ='A'");//A类客户数量
			ywysmacnumt_a = Accountnum_a.get(0).get("num")==null?0:Integer.parseInt(Accountnum_a.get(0).get("num")+""); 
			List<CCObject> Accountnum_b = cs.cqlQuery("Account","SELECT count(*) as num FROM Account a WHERE ownerid = '"+ywyid+"' "+datetime+"and is_deleted='0' and khdj ='B'");//B类客户数量
            ywysmacnumt_b = Accountnum_b.get(0).get("num")==null?0:Integer.parseInt(Accountnum_b.get(0).get("num")+""); 
            
            //渠道客户,联动转介客户和自然上门
            List<CCObject> Accountnum_qd = cs.cqlQuery("Account","SELECT count(*) as num FROM Account a WHERE ownerid = '"+ywyid+"' "+datetime+"and is_deleted='0' and (rztj2 ='瑞信行渠道转介' or rztj2 ='甲方渠道转介') and recordtype <> '2018525F215221DtlTXV'"); //渠道转介
            ywysmacnum_qd = Accountnum_qd.get(0).get("num")==null?0:Integer.parseInt(Accountnum_qd.get(0).get("num")+""); 
            List<CCObject> Accountnum_ldzj = cs.cqlQuery("Account","SELECT count(*) as num FROM Account a WHERE ownerid = '"+ywyid+"' "+datetime+"and is_deleted='0' and rztj2 ='瑞信行联动转介' and recordtype <> '2018525F215221DtlTXV'"); //渠道转介
            ywysmacnum_ldzj = Accountnum_ldzj.get(0).get("num")==null?0:Integer.parseInt(Accountnum_ldzj.get(0).get("num")+""); 

			ywylineacnumt +=ywylineacnum;
			ywysmacnumt += ywysmacnum;
			ywysmacnumt_at += ywysmacnumt_a;
            ywysmacnumt_bt += ywysmacnumt_b;
            
            ywysmacnum_qdt += ywysmacnum_qd;
            ywysmacnum_ldzjt =+ ywysmacnum_ldzj;

			//project.get("dlfjsje")==null?0.0:Double.parseDouble(project.get("dlfjsje")+"");
			//out.print(ywyacnum+"/"); 
			//List <CCObject> ccuserlist = cs.cqlQuery("ccuser","SELECT name as name FROM ccuser WHERE id = '"+ywyid+"' and isusing='1'"); //业务员姓名
			List<CCObject> ccuserlist = cs.cqlQuery("ccuser","SELECT name as name FROM ccuser WHERE id = '"+ywyid+"'"); //业务员姓名 
			//ywyname =ccuserlist.get(0).get("name")==null?"":ccuserlist.get(0).get("name")+""; 
			ywyname = ccuserlist.get(0).get("name")==null?"":ccuserlist.get(0).get("name")+"";
			//out.print(ywyname+"/"); 
			List<CCObject> ywjhgjmxnum = cs.cqlQuery("ywjhgjmx","SELECT count(*) as num FROM ywjhgjmx a WHERE ownerid = '"+ywyid+"' "+datetime+" and is_deleted='0'");//ywjhgjmx跟进数 
			ywyflnum = ywjhgjmxnum.get(0).get("num")==null?0:Integer.parseInt(ywjhgjmxnum.get(0).get("num")+"");
			//ywymap.put("project",projectname); 
			//ywymap.put("ywyname",ywyname); 
			//ywymap.put("ywyacnum",ywyacnum); 
			//ywymap.put("ywyflnum",ywyflnum);
			//ywytojson = JSONObject.fromObject(ywymap); 
			//ywytojson.put("project",projectname);
			ywytojson.put("ywyid",ywyid); 
			ywytojson.put("ywyname",ywyname);
			//ywytojson.put("ywyacnum",ywyacnum); 
			ywytojson.put("ywysmacnum",ywysmacnum);
			ywytojson.put("ywylineacnum",ywylineacnum);
            ywytojson.put("ywyflnum",ywyflnum); 
            
            ywytojson.put("ywyqdnum",ywysmacnum_qd); 
            ywytojson.put("ywyldzjnum",ywysmacnum_ldzj); 
            ywytojson.put("ywyzrnum",ywysmacnum-ywysmacnum_qd-ywysmacnum_ldzj); 
			
			//获取业务员的具体客户信息 
			List<CCObject> Accountlist = cs.cqlQuery("Account","SELECT id,name,xylx as hy,lxrxm,lxrdh,xqmj,khdj,rztj2,recordtype,ROUND(yjcs,2) as yjcs FROM Account a WHERE ownerid ='"+ywyid+"' "+datetime+" and is_deleted='0'"); //客户数量 
			JSONArray csjsonArray = JSONArray.fromObject(Accountlist); 
			String csjsa=csjsonArray.toString();
			ywytojson.put("cslist",csjsa);
			ywytojsonarr.add(ywytojson); 
			//jsa=ywytojsonarr.toString(); 
			//List<CCObject> Accountlist = cs.cqlQuery("Account","SELECT name FROM Account WHERE ownerid = '"+xmxsy+"' and is_deleted='0'");//业务员姓名 
			//jsonArray = JSONArray.fromObject(Accountlist); 
			//jsa=jsonArray.toString(); 
            } 
            jsa=ywytojsonarr.toString(); 
		projectjson.put("projectname",projectname);
		projectjson.put("ywysmacnumt",ywysmacnumt);
		projectjson.put("ywylineacnumt",ywylineacnumt);
		projectjson.put("anum",ywysmacnumt_at);
		projectjson.put("bnum",ywysmacnumt_bt);
        projectjson.put("cnum",ywysmacnumt-ywysmacnumt_at-ywysmacnumt_bt);
        projectjson.put("qdnum",ywysmacnum_qdt);
        projectjson.put("ldzjnum",ywysmacnum_ldzjt);
        projectjson.put("zrnum",ywysmacnumt-ywysmacnum_qdt-ywysmacnum_ldzjt);
		projectjson.put("ywy",jsa); 
		projectjsonarr.add(projectjson); 
		} 
		jsa=projectjsonarr.toString(); 
		//out.print(jsa);
		//最终数据模型: 
		//1.项目, 合起来的客户数, 跟进数 (项目) 
		//2.项目,业务员名字,业务员客户数, 跟金数 (业务员) 
		//3.项目,业务员名字,客户名称,客户等级,客户需求面积,行业,... (业务员客户)
		// 把三条数据拼成一个jsonarray 
		/* json: {"projectname":"广州海珠同创汇", "ywy":[{"ywyname":"黄玺媛","ywyacnum":25,"ywyflnum":33,"cslist":[{"csname":"瑞幸咖啡","cslv":"A","csarea":150,"cshy":"服务"},{"csname":"太平洋咖啡","cslv":"A","csarea":200,"cshy":"服务"}]},
		{"ywyname":"陆悦添","ywyacnum":25,"ywyflnum":33,"cslist":[{"csname":"瑞幸咖啡","cslv":"A","csarea":150,"cshy":"服务"},{"csname":"太平洋咖啡","cslv":"A","csarea":200,"cshy":"服务"}]}
		] */ 
		//创建json集合 
		//JSONArray jsonArray = JSONArray.fromObject(projectlist); 
		//String sja=jsonArray.toString();
		//String sjn=String.valueOf(Accountlist.size()); //System.out.println(jsonArray.toString()); //out.print(sja);
		//[{"CCObjectAPI":"Project","name":"广州海珠同创汇","id":"a05201825B086F3UiZWa"},{"CCObjectAPI":"Project","name":"广州誉城同创汇","id":"a05201835C43A40C4KAS"}]

</cc>
		<html>

		<head>
		<!--<meta http-equiv="refresh" content="5">-->
		<script src="//unpkg.com/vue/dist/vue.js"></script>
		<script src="https://unpkg.com/muse-ui/dist/muse-ui.js"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<link rel="stylesheet" href="https://unpkg.com/muse-ui/dist/muse-ui.css">
		<link rel="stylesheet" href="https://cdn.bootcss.com/material-design-icons/3.0.1/iconfont/material-icons.css">
		</head>

		<body>

		<form action="" method="post" name="theform" id="theform">
    <h2 align="center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>

   &nbsp;&nbsp;&nbsp;
开始日期&nbsp;&nbsp;<input id="startTime" name="startTime" class="datepicker" type="text" value="<cc:outprint>ksrq</cc:outprint>">
&nbsp;&nbsp;截止日期&nbsp;&nbsp;<input id="endTime" name="endTime" class="datepicker" type="text" value="<cc:outprint>jsrq</cc:outprint>">
&nbsp;&nbsp;<input type="submit"  value=" 查 询 " class="input01"/><br><br>   
    <br>

</form>

<div id="app">
<mu-container>
  <mu-expansion-panel v-for="(item,index) in collapselist1" :key="index" >
    <div slot="header"><mu-icon size="15" value="location_city"></mu-icon>{{item.projectname}} 上门{{item.ywysmacnumt}} 进线{{item.ywylineacnumt}} A{{item.anum}} B{{item.bnum}} C{{item.cnum}}</div>
        <div>渠道{{item.qdnum}} 自然上门{{item.zrnum}} 内部联动{{item.ldzjnum}}</div>
    	<mu-expansion-panel v-for="(item1,index) in item.ywy" :key="item1.ywyname +'.'+index" :name="item1.ywyname+'.'+index">
    		<div slot="header">
				<mu-icon size="15" value="person"></mu-icon>{{item1.ywyname}} 上门{{item1.ywysmacnum}} 进线{{item1.ywylineacnum}} <mu-button flat color="primary" style="min-width: 66px; padding: 0" @click="getFlByTime(item1.ywyid)">跟进{{item1.ywyflnum}}</mu-button>
                </div>
                <div>渠道{{item1.ywyqdnum}} 自然上门{{item1.ywyzrnum}} 内部联动{{item1.ywyldzjnum}}</div>
				<mu-data-table :columns="columns_cs" :data="item1.cslist">
      		<template slot-scope="scope">
                <!-- <td>{{scope.row.name}}</td> -->
                <td><a @click="getCusInfo(scope.row.id)">{{scope.row.name}}</a></td>
        		<td>{{scope.row.hy}}</td>
        		<td>{{scope.row.lxrxm}}</td>
        		<!-- <td>{{scope.row.lxrdh}}</td> -->
				<td>{{scope.row.xqmj}}</td>
				<td>{{scope.row.yjcs}}</td>
				<td>{{scope.row.khdj}}</td>
				<td>{{scope.row.recordtype=='20186166515AE4A8ZfOc' ? ((scope.row.rztj2=='瑞信行渠道转介' || scope.row.rztj2=='甲方渠道转介') ?'渠道客户':'自然上门' ):'进线'}}</td>
        		<td><mu-button color="primary" @click="getFollws(scope.row.id)">跟进详情</mu-button></td>
      		</template>
    	</mu-data-table>
    	</mu-expansion-panel>
  </mu-expansion-panel>
  <mu-drawer :open.sync="open" :docked="docked" :right="position === 'right'" width="80%">
    <mu-paper :z-depth="1">
    <mu-data-table :columns="columns" :data="gridData1">
      <template slot-scope="scope">
        <td>{{scope.row.createdate}}</td>
        <td>{{scope.row.name}}</td>
        <td>{{scope.row.fltype}}</td>
        <td>{{scope.row.nr}}</td>
      </template>
    </mu-data-table>
  </mu-paper>
  </mu-drawer>
  
  <mu-drawer :open.sync="open1" :docked="docked1" :right="position1 === 'right'" width="80%">
    <mu-paper :z-depth="1">
    <mu-data-table :columns="columns1" :data="dataForMessage">
      <template slot-scope="scope">
        <td>{{scope.row.gjlx}}</td>
        <td>{{scope.row.createdate}}</td>
        <td>{{scope.row.nr}}</td>
      </template>
    </mu-data-table>
  </mu-paper>
  </mu-drawer>
</mu-container>
</div>

		<br>
		<br>
		<br>
		

		<script>
var Main = {
  data () {
    return {
      panel: '',
      collapselist1: <cc:outprint>jsa</cc:outprint>,
      docked: false,
      open: false,
      position: 'left',
      
      docked1: false,
      open1: false,
      position1: 'right',
      
      bindingcode:'',
			activeNames: ['1'],
			userName:'<cc:outprint>userName</cc:outprint>',
			url1: 'https://k8mm1amta1700adb471ba12b.cloudcc.com/distributor.action?serviceName=cssoLogin',
			datetime: "<cc:outprint>datetime</cc:outprint>",
			dataForMessage:[],
			gridData1:[],
			columns: [
          { title: '日期', width: 120, name: 'createdate' },
          { title: '客户', name: 'name', width: 100 },
          { title: '跟进方式', name: 'fltype', width: 80},
          { title: '跟进内容', name: 'nr', width: 200}
      ],
      columns1: [
          { title: '跟进方式', name: 'gjlx', width: 80},
          { title: '日期', width: 120, name: 'createdate' },
          { title: '跟进内容', name: 'nr', width: 200}
      ],
      columns_cs: [
          { title: '企业名称', width: 100, name: 'name' },
          { title: '行业', name: 'hy', width: 100},
          { title: '联系人', name: 'lxrxm', width: 100},
        //   { title: '电话', name: 'lxrdh', width: 120},
          { title: '需求面积', name: 'xqmj', width: 100},
		  { title: '预计创收', name: 'yjcs', width: 100},
		  { title: '客户等级', name: 'khdj', width: 100},
		  { title: '认知途径', name: 'rztj2', width: 100},
          { title: '操作', width: 120}
      ],
    }
  },
  created: function(){

 				
				this.getBinding()
				
        //this.getFollws()       //定义方法

 

  },
  methods: {
    toggle (panel) {
      this.panel = panel === this.panel ? '' : panel;
    },
getBinding:function(){
	var that=this;
	axios.get('/distributor.action', {
		params: {
			serviceName: 'cssoLogin',
			userName:this.userName,
			authCode:'6b42a467259407218c0e6acdfc978c01'
			
		}
	})
	.then(function (response) {
		that.bindingcode=response.data.binding;
		//console.log(this.bindingcode);
	})
	.catch(function (error) {
		console.log(error);
	});
},
getFlByTime:function(val){ //传入客户id
	this.open=!this.open;
	console.log(val);
	this.dialogTableVisible = true;
	var that = this;
	var datetime= this.datetime;
	var expresssql="select a.createdate as createdate ,b.name as name ,a.gjlx as fltype, a.nr as nr from ywjhgjmx a inner join Account b on a.kh=b.id where a.createbyid='"+val+"' and a.is_deleted='0' "+datetime+" order by createdate desc";
	//alert(expresssql);
	//console.log(expresssql);
	axios.get('/distributor.action', {
		params: {
			serviceName: 'cqlQuery',
			objectApiName: 'ywjhgjmx',
			expressions:expresssql,
			binding:this.bindingcode
		}
	})
	.then(function (response) {
		that.gridData1 = response.data.data;
		console.log(that.gridData1);
		
	})
	.catch(function (error) {
		console.log(error);
	});
/**/
},
getFollws:function(val){ //传入客户id
	this.open1=!this.open1;
	var that = this;
	var expresssql="kh='"+val+"' and is_deleted='0' order by createdate desc";
	//alert(expresssql);
	axios.get('/distributor.action', {
		params: {
			serviceName: 'cquery',
			objectApiName: 'ywjhgjmx',
			expressions:expresssql,
			binding:this.bindingcode
		}
	})
	.then(function (response) {
		that.dataForMessage=response.data.data;
	})
	.catch(function (error) {
		console.log(error);
	});

},
getCusInfo:function(val){
    window.open("/query.action?m=query&id="+val);
},
  }
};
var Ctor = Vue.extend(Main)
new Ctor().$mount('#app')
		</script>
		</body>

		</html>